* {
    box-sizing: border-box;
    vertical-align: top;
}



td {
    width: 100px; 
    height: 60px;
}
.bg-grey {
    background: gray;
}
.bg-green {
    background: green;
}
.bg-yellow {
    background: darkgoldenrod;
}
.bg-blue {
    background: blue;
}
.bg-bolotgreen {
    background: darkolivegreen;
}
.bg-greenligt {
    background: rgb(69, 139, 46);
}

.firstconteiner {
    font-size: 0;
    width: 1200px;

}

.firstconteiner > div {
    background: skyblue;
    outline: 2px solid red;
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 16px;
}
.secondconteiner {
    font-size: 0;
    width: 1200px;
}

.secondconteiner div {
    background: greenyellow;
    outline: 2px solid red;
}
.secondconteiner > div {
    display: inline-block;
    width: 800px;
    font-size: 16px;
    vertical-align: top 
}
.secondconteiner > div > div {
    height: 200px;
    font-size: 16px;
}
.secondconteiner > div + div {
width: 400px;
}
.secondconteiner > div + div > div {
    height: 133.3px;
}

.thirtconteiner {
    font-size: 0;
    width: 1200px;
}
.thirtconteiner div {
    background: darkorange;
    outline: 2px solid red;
}
.thirtconteiner9 {
    /*float: left;*/
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 16px;
}
.thirtconteiner9 + div {
    width: 800px;
    display: inline-block;
    font-size: 20px;
}
.thirtconteiner10 {
    height: 200px;
    /*float: right;*/

}
.thirtconteiner11-one  {
    font-size: 0;
}
.thirtconteiner11 {
    width: 400px;
    height: 200px;
    /*float: left;*/
    display: inline-block;
    font-size: 16px;
}
.thirtconteiner12 {
    height: 100px;
    /*float: right;*/
}
